* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
  }
  
.divisor {
    width: 1px;
    height: 15px;
    background-color: #fff;
    display: inline-block;
  }
  
.logo {
    width: 150px;
  }
  